[2021-05-19 19:38] dotMorten opened #4 "XAML Designer still runs 32bit"
Is this intended? Will it change?
![image](https://user-images.githubusercontent.com/1378165/118873810-08177d00-b89f-11eb-9e9f-3b07cd7260c3.png)

It's quite important for us to have the right native libraries loaded for the xaml design process to work.

[2021-05-19 22:35] grantborthwick opened #5 "LaunchDevCmd.bat lists the version as VS 2019"
C:\Program Files\Microsoft Visual Studio\2022\Preview\Common7\Tools\LaunchDevCmd.bat

[code]

This might be on purpose so you don't have to rebrand everything until it is finalized, but I see other places where the version is listed as 2022.

[2021-05-20 19:36] #5 closed, assigned to nobody

[2021-05-20 20:23] #4 closed, assigned to nobody

[2021-05-21 17:30] vvatkov opened #7 "VSIX Project cannot be build"
In the current version (17.0.0 Preview 1.0) of Visual Studio the VSIX Project template has a package reference to Microsoft.VSSDK.BuildTools version 17.0.1597 which is not available in nuget.org.

[2021-05-24 17:53] #7 closed, assigned to nobody

[2021-05-25 07:52] vvatkov opened #8 "Microsoft.VisualStudio.Sdk meta package and Microsoft.VisualStudio.TemplateWizardInterface reference have build conflicts"
**Microsoft.VisualStudio.TemplateWizardInterface** has a reference to **Microsoft.VisualStudio.Interop**. However, **Microsoft.VisualStudio.Interop** has types that are duplicated in  **Microsoft.VisualStudio.Sdk** which results in build errors when the tree of the references are used in a project.

Is seems that **Microsoft.VisualStudio.TemplateWizardInterface** is not designed to be used with **

[2021-05-26 08:13] #8 closed, assigned to nobody

[2021-06-07 09:53] hprica opened #9 "Extension built with VS 2022 cannot run on VS 2015"
The extension I am working on also runs on VS 2015. Is there any backward compatibility for that, or do I need to have a different VSIX?

[2021-06-09 19:07] vvatkov opened #10 "MSBuild fails to build projects with PackageReference item group"
It seems that when you build a solution that contains projects with package references with the latest MSBuild it fails because the references are not passed to the Roslyn compiler. Here is an example commandline:

msbuild VSIXProject1.sln /p:Configuration=Release;Platform="Any CPU"

This works with the MSBuild form Visual Studio 2019. Is there something that I have missed here or there is an issu

[2021-06-17 08:37] DefaultRyan opened #12 "Instructions for No Code Extensions doesn't build"
Following the instructions at https://github.com/microsoft/VSExtensibility/wiki/No-Code-Extensions, but it seems that the `<ProductArchitecture>` element isn't recognized. When I add those elements, I'm getting this error:
[code]

This is attempting to build in VS2019. I tried building with the Dev17 preview, and it somehow fails to resolve `Microsoft.VisualStudio.CoreUtility`.

[2021-06-18 12:29] vvatkov opened #13 "Microsoft.VisualStudio.Setup.Configuration.Interop.dll is listed in the SuppressFromVsix item group"
**Microsoft.VisualStudio.Setup.Configuration.Interop** is listed in the **SuppressFromVsix** item group in Microsoft.VsSDK.targets. This prevents from including the assembly in the VSIX. Is this intentional? If so, is there an alternative API that we can use?

[2021-06-20 20:22] pharring opened #15 "How to mark an extension as 'preview'"
The [wiki](https://github.com/microsoft/VSExtensibility/wiki/Publishing#visual-studio-marketplace) says:

How? Is it a tag? Something in the .vsixmanifest or something in the publishing manifest?

[2021-06-20 20:27] #15 closed, assigned to nobody

[2021-06-22 13:20] #12 closed, assigned to nobody

[2021-06-24 14:07] hprica opened #17 "Method not found: 'Void EnvDTE._dispWindowEvents_WindowActivatedEventHandler..ctor(System.Object, UIntPtr)'."
This crash now happens after exiting our custom events and before entering `RegisterToVsEvents()`. I cannot debug any further, is this due to changes to the event system, or something is checked in the background by VS?

The method `RegisterToEventsAsync()` is called in
`protected override async Task InitializeAsync(CancellationToken cancellationToken, IProgress<ServiceProgressData> progress)`

[

[2021-06-24 16:22] sherryyshi opened #18 "Error MSB4018: The "GetDeploymentPathFromVsixManifest" task failed unexpectedly."
When building Dev17-targeted extensions using VS 16.10.1 I get the following error:

[code]

Building extension targeting both Dev16 and Dev17 in Dev17 seems to work fine though.

This is required for our extension to build in the lab, which currently only has Dev16 installed.

[2021-06-24 22:23] #18 closed, assigned to nobody

[2021-06-28 08:36] #17 closed, assigned to nobody

[2021-06-28 08:41] #9 closed, assigned to nobody

[2021-07-05 09:45] #13 closed, assigned to nobody

[2021-07-05 11:43] #10 closed, assigned to nobody

[2021-07-06 15:23] kfertitta opened #20 "Version conflict with latest Microsoft.CodeAnalysis"
Building our extension with only the following two package references leads to a version conflict warning that seems to be caused by `Microsoft.VisualStudio.TextTemplating.15.0.dll` having a dependency on version 4.0.0.0 of `Microsoft.CodeAnalysis.dll`.

[code]

[code]

[2021-07-11 15:15] kfertitta opened #21 "MSBuildWorkspace.OpenProjectAsync cannot locate Microsoft.NET.Sdk."
Our extension makes heavy use of Roslyn.  After migrating to Dev17, we see that `MSBuildWorkspace.OpenProjectAsync` is failing.  It reports a diagnostic saying "The SDK 'Microsoft.NET.Sdk' specified could not be found."

We can actually repro this outside of our extension with a minimal Roslyn console app that tries to open a minimal C# class library project.

Here is the console app:

[code]

Her

[2021-07-13 04:46] ryzngard opened #22 "Method not found: Void Microsoft.VisualStudio.Shell.Settings.ShellSettingsManager..ctor"
@JoeRobich and I have been working on updating [Carnation](https://github.com/ryzngard/carnation) to publish for VS 2022. It's a small package that is already compiling for AnyCPU and, luckily, was fairly easy to port.

During our port we've been having issues. We access the settings store on load and are hitting that `Void Microsoft.VisualStudio.Shell.Settings.ShellSettingsManager..ctor(Microsoft

[2021-07-13 19:02] #21 closed, assigned to nobody

[2021-07-16 17:11] jaredpar opened #23 "VS2022 Preview 2 SDK missing"
https://www.nuget.org/packages/Microsoft.VisualStudio.SDK

Visual Studio 2022 Preview 2 is now publicly available but the latest version of the MS.VS.SDK package is 17.0 Preview 1. When will the Preview 2 version be available for us to consume in our extensions?

[2021-07-16 19:12] hprica opened #24 "Error targeting both VS 2022 and 2019 - Could not load file or assembly Microsoft.VisualStudio.Shell.15.0, Version=17.0.0."
I was able to port the extension to VS 2022, and it works great.

The issue I am having is creating a single VSIX to target both 2019 and 2022. When installing the package on VS 2019, the errors below appear in the ActivityLog.xml.

Any help is greatly appreciated.

[code]

[2021-07-16 20:51] #24 closed, assigned to nobody

[2021-07-17 05:54] #22 closed, assigned to nobody

[2021-07-20 15:58] #23 closed, assigned to nobody

[2021-07-21 20:39] hprica opened #26 "Sharing resources between VS2019 and VS2022 projects"
After moving all the code to a Shared project, I was able to build from the same solution for VS2019 and VS2022.

My question is, can we also share resources such as images from the Shared project, not just code?  Right now my assets/resources are duplicated.

[2021-07-21 21:32] #26 closed, assigned to nobody

[2021-07-22 14:07] #20 closed, assigned to nobody

[2021-08-12 13:55] ndepend opened #37 "When compiling VSIX assemblies for VS2019, 2017 and lower we get conflict error"
We easily succeeded to have our extension compiling and working within VS2022 Preview, thanks for the great WIKI!

However when compiling our VSIX projects for VS2019, VS2017 and lower VS versions, we get plenty of conflict errors like.

[code]

Note that these VSIX projects were left untouched since we created a dedicated VSIX project for VS2022. Thus these untouched projects don't have any `<Pac

[2021-08-13 08:55] #37 closed, assigned to nobody

[2021-09-09 21:30] shaggygi opened #47 "New Roadmap"
Great stuff and looking forward to it!

Understanding this is new and long-term project, somebody has to ask...  When will we see a roadmap and possible timeline on certain features?  For example, when will support come for Output Window and Solution Explorer?

Thanks

[2021-09-10 11:50] BertanAygun commented on #47
Hi,

We are looking to collect feedback in this phase in regards to which areas developers are interested in. We will also release more details in future phases of the project as planning is still in progress.

The current release has support for extensions to create their own output window pane, via `VisualStudioExtensibility.Views(),Output` entry point. You can see an example of this API being u

[2021-09-10 12:34] shaggygi commented on #47
Nothing specific currently.  I know there was some work going on in the toolkit with support for different types of items (physical/virtual file, etc.).  Mainly just pinging to see what new was coming since Solution Explorer is usually a bigger component in the extensibility area.

Thx.  Looking forward to progress in this area.

[2021-09-10 14:11] MgSam opened #48 "Visualizer API"
Please include Visualizers in the new Extension API as you guys build it out.

- Visualizers are not part of the existing extension model
- They use a horribly dated API that requires you to mark the types that will use the Visualizer
- Distributing them is a nightmare

The lack of a good extension model for Visualizers is currently Visual Studios achilles heel, in my opinion. Being able to better

[2021-09-11 19:11] zspitz commented on #48
Some additional thoughts:

* Debugging visualizers associated with value types [appear to hang or crash](https://developercommunity.visualstudio.com/t/custom-debugging-visualizer-targeting-an-unboxed-e/1084493)
* Since the recommended architecture is in any case to split between the debugger and debuggee components, expose the full VS extensibility model to the debugger component. This would enabl

[2021-09-12 17:11] jptemplin opened #49 "Extend Existing Commands"
Suggestion for what to build out...

All the examples I've seen teach how to add NEW commands to VS Studio. I'm interesting in extending existing commands, and I've never been able to find docs on how to do this or even a listing of the existing commands.

For example: I want to extend/intercept the print command to programmatically invoke page setup first, fill in saved values for margins, and th

[2021-09-15 04:47] hharshada commented on #48
@MgSam / @zspitz  thanks a lot for your feedback Are there any specific types of visualizer you are looking into.

[2021-09-15 06:36] zspitz commented on #48
@hharshada I've written debugging visualizers targeting:

* [expression trees](https://github.com/zspitz/ExpressionTreeVisualizer)
* [ANTLR4 parse trees](https://github.com/zspitz/ANTLR4ParseTreeVisualizer)
* [DateTime](https://github.com/zspitz/DateTimeVisualizer)

The general architecture -- inject into the debugged process a DLL which can communicate with VS somehow -- is OK.

[2021-09-15 14:36] MgSam commented on #48
I wrote a visualizer for DataTable that was more feature-rich than the built-in one. It was non-modal and had searching and filtering. Doing all of that and distributing it in an extension required a lot of hacky stuff. I had to have the base extension which communicated with the visualizer component over a named pipe (pretty ridiculous for two things living in the same process!) I had to have an

[2021-09-16 07:47] vvatkov opened #50 "Microsoft.VisualStudio.TextTemplating.15.dll is missing in Visual Studio 2022 preview 4"
Hi team,

It seems that in the Visual Studio 2022 preview 4 **Microsoft.VisualStudio.TextTemplating.15.dll** is renamed to **Microsoft.VisualStudio.TextTemplating.dll**. However, when we use Microsoft.VisualStudio.SDK (17.0.0-previews-1-31325-273) package reference we end up with а transitive reference to Microsoft.VisualStudio.TextTemplating.15. That's why the extension fails runtime in Visual St

[2021-09-16 12:26] BertanAygun commented on #50
Hi,

This issue seems to be related to the existing in-proc extensibility packages. I will forward the issue to the right team.

Thanks,

[2021-09-16 19:09] tinaschrepfer commented on #50
@vvatkov - Apologies on this.  We're a little delayed in getting the VSSDK libraries out for Preview 4.  We plan to ship them on early next week and that should resolve your issues once you build against Preview 4 VSSDK.

[2021-09-18 03:41] kingcomxu opened #51 "can i use winform or wpf in oop extensions?"
can i use winform or wpf in oop extensions?

[2021-09-19 15:31] shaggygi opened #52 "SimpleRemoteCommandSample Errors"
There appears to be some differences in the example walkthrough and sample code project.

In the [walkthrough](https://github.com/microsoft/VSExtensibility/blob/main/docs/new-extensibility-model/getting-started/create-your-first-extension.md),  there is a `CommandName` variable that is not defined in the `ExecuteCommandAsync` method.

[code]

In the final sample code file, it is defined [here](htt

[2021-09-19 15:50] shaggygi opened #53 "Command ClientContext parameter mismatch"
The `CommandAttribute` signature show `ClientContext` parameter is plural, but [documentation shows singular](https://github.com/microsoft/VSExtensibility/blob/main/docs/new-extensibility-model/extension-guides/command/command.md#registering-a-command).  I'm assuming it should be plural, but not sure.

![image](https://user-images.githubusercontent.com/2956825/133933766-d9303121-36b9-4021-9c77-d02

[2021-09-19 16:09] shaggygi opened #54 "Repo Open-Source"
Is the plan to open-source this repo similar to Community Toolkit or will it only be NuGet reference(s) like older model?  Just curious.

[2021-09-19 16:23] shaggygi opened #55 "CommandIconAttribute Overload with KnownMonikers"
Will `CommandIconAttribute` eventually get an overload to include `KnownMonikers` or will it only be available via string?  Would be a nice-to-have to do something like the following, but I guess you'd have to reference the additional `Microsoft.VisualStudio.ImageCatalog` package.

[code]

[2021-09-20 10:52] BertanAygun commented on #51
Hi, we are still investigating UI options for out-of-process extensibility. In the current preview, there is no UX extensibility support such as creating a new tool window. We will announce more details around UI extensibility in future previews. Thanks!

[2021-09-20 10:54] BertanAygun commented on #53
Currently the only 2 supported contexts are `editor` and `shell`. The default value for this parameter if omitted is `editor,shell` to ensure both are included by default.

As we expand the API, we will document the set of available contexts and in future we may require commands to define additional contexts in this parameter to avoid passing the unused context bag values.

[2021-09-22 17:47] tinaschrepfer commented on #50
This issue should be resolved now since we uploaded the VSSDK packages for Preview 4.  Please find them here: https://www.nuget.org/packages/Microsoft.VisualStudio.SDK/17.0.0-previews-4-31709-430.  Thanks!

[2021-09-22 17:47] #50 closed

[2021-09-24 16:43] BertanAygun commented on #55
I will keep this issue open for the next iteration, I agree that providing a KnownMonikers list would be valuable. We will also be adding support for extensions contributing images as well so this change would likely be part of that work.

[2021-09-28 21:29] pharring opened #61 "VSSDK.BuildTools 17.0 preview 4 breaks package dependencies"
I upgraded my project to reference the 17.0 preview 4 build tools and my VSIX no longer contains package references from nuget.
Preview 3 was fine. Preview 4 is broken.

Repro:
1. Create a new VSIX package project in VS 2022 preview
2. Manage the Nuget references and set the version of Microsoft.VSSDK.BuildTools to 17.0.3177-preview3
3. Also add a Nuget reference to Microsoft.ApplicationInsights 2

[2021-09-28 21:36] pharring commented on #61
Also reported at https://developercommunity.visualstudio.com/t/1541661

[2021-10-06 12:47] Denis-Korneev opened #62 "IntelliCode whole line completion API"
Are there any plans to implement IntelliCode whole line completion public API?

There is a need in:
- an ability to determine that whole line completion is active/shown for the extension not to process Tab and Right Arrow keys and not to break the completion;
- an ability to pass a custom completion text to implement an integration of custom completion with IntelliCode whole line completion.

[2021-10-06 23:23] tinaschrepfer commented on #49
Thank you for your feedback!  This is something our team is discussing right now.  We'll share the vision with the group when we have more details.

[2021-10-07 08:28] sergeyQx commented on #62
I have filed a corresponding issue on a developer community website as requested https://developercommunity.visualstudio.com/t/IntelliCode-full-line-completion-API/1547442

[2021-10-07 14:25] markw-t commented on #62
Thanks Sergey. So your basic request is to have a hook that allows you to pass the changed IntelliSense selection from your own implementation of an IntelliSense UI, to line completions so that we update our prediction.  I appreciate the clarification and we'll consider what we can do there.

[2021-10-17 13:27] Sergey-Vlasov opened #63 "Projection buffers"
Are projection buffers still supported in VS 2022?

I can't make them work in my extension or the tutorial:
https://developercommunity.visualstudio.com/t/Projection-buffer-shows-full-document-in/1510793?from=email&viewtype=all

[2021-10-17 22:48] jaredpar opened #64 "VS2022 Preview 5 SDK missing"
The VS 2022 Preview 5 release is available but the Microsoft.VisualStudio.SDK NuPkg is still at Preview 4.

https://www.nuget.org/packages/Microsoft.VisualStudio.SDK/

Do we know when this will be released? Want to update my extension for preview 5.

[2021-10-18 00:13] stevebuckco opened #65 "How do you create a cascading (sub) menu to group multiple commands"
How do you create a casding menu to group multiple commands like Nuget Package Manager on the tools menu.  We would prefer to group them like many other extensions group their commands.

[2021-10-26 18:27] CartBlanche opened #66 "[VS2022] Various ProjectProperties methods and Properties are now missing...."
....and don't seem to be covered in any migration guide I've read.

**Properties**
ConfiguredProject
File
ItemName
ItemType

**Methods**
GetNamedCatalogsAsync()
TryGetCurrentCatalogSnapshot(out catalogSnapshot)
GetConfigurationGeneralPropertiesAsync();

to name a few. If migrating our extension to VS2022 what are these properties and methods now??

[2021-11-01 18:33] lifengl commented on #66
Hey, @CartBlanche,

Based on names, I guess they are a part of generated code from the CPS SDK. Have you updated your project to use a dev 17 version of the CPS SDK?  Here is one version on NuGet which is aligned with preview 2: https://www.nuget.org/packages/Microsoft.VisualStudio.ProjectSystem.Sdk/17.0.667-pre.  If you are using Azure public feed, you might get newer version, and we will publish

[2021-11-01 20:48] LaggAt opened #67 "Options dialog page / storing options"
Hi, I'm rewriting one of my extensions (https://github.com/LaggAt/ActivityWatchVS) to get used to the new out-of-process model. I really like the simplicity of that, and I know it is a work in progress.

As I cannot find something - is there some way to **persist options and/or add an page to the options dialog**?
This is the missing part to re-implement all functionality.

Thanks in advance.

[2021-11-01 21:06] LaggAt opened #68 "Inject TraceListener in an : ExtensionPart"
The examples show a TraceSource injected in Command implementations.
When I try to inject a TraceSource into a class implementing ExtensionPart the class isn't loading.

According to the docs this should be possible:
https://github.com/microsoft/VSExtensibility/blob/main/docs/new-extensibility-model/inside-the-sdk/extension-anatomy.md
The following services are provided by the SDK that can be used

[2021-11-02 23:45] markw-t commented on #62
We've provided hooks that address the need for coordination in the first bullet, in the Visual Studio 2022  Preview 7.0 build. @Denis-Korneev has confirmed that these hooks are working as expected and deliver the needed coordination - they should be available to ReSharper customers in an upcoming EAP build. This will mean ReSharper users should be able to see and use IntelliCode’s line completions

[2021-11-02 23:47] #62 closed

[2021-11-03 12:03] CartBlanche commented on #66
@lifengl Thanks for the suggestion, I'll try that shortly.

[2021-11-03 12:53] CartBlanche commented on #66
@lifengl I just used the latest one from the preview channel, which is `Microsoft.VisualStudio.ProjectSystem.Sdk/17.0.667-pre.17.0.1313-pre` and I get the same 46 errors of properties missing, which I don't get when building in VS2019.

[2021-11-08 23:59] tinaschrepfer commented on #64
Thanks for the feedback!  We were busy getting ready for GA of VS2022, and as Preview 5 was more about stabilization, we didn't release any new updates to our SDK packages.  However, we just released the GA version of VS SDK today.  Please check it out here: https://www.nuget.org/packages/Microsoft.VisualStudio.SDK/17.0.31902.203

[2021-11-08 23:59] #64 closed

[2021-11-09 00:03] tinaschrepfer commented on #67
Thanks for reaching out!  Settings/state persistence is something we're actively investigating at the moment.  Unfortunately the API isn't available yet in the new out of process extensibility model.  When we have more to share, we will definitely let you know through this issue and would love to get your feedback on the design.

While we're on the topic, are there any particular things you'd like

[2021-11-09 00:08] BertanAygun commented on #68
Hi, are you implementing an editor text view listener with the class that inherits from ExtensionPart? Knowing that will help us to reproduce the issue.

[2021-11-09 20:37] LaggAt commented on #67
Well, I have very few needs here. I just need some properties the user could set. What I really need (and what differs from the old variant where you could define the UI in detail) would be:

* A simple poco-class, maybe with an attribute so that VS2022 could find it:
[code]
* possibility to inject a singleton instance (derserialized from saved) of it in extension parts
* Visual Studio showing a p

[2021-11-10 17:52] #52 closed

[2021-11-18 12:24] valentinbreiz opened #69 "Custom Project Property Page now working on VS2022"
Hello, is there any documentation about creating a custom project property page on Visual Studio 2022?
My code for VS2019 doesn't work anymore, the pages don't appear nor the custom icon in the solution explorer...

A screenshot on how it used to be:
![image](https://user-images.githubusercontent.com/18724279/142414849-c9174d1c-56a9-421b-9e50-a3304fdc6e5e.png)

[2021-11-18 18:35] madskristensen commented on #69
Let's ask @sayedihashimi and @timheuer. This looks like an issue with extensibility with the new property pages for .NET projects.

[2021-11-18 19:01] timheuer commented on #69
Mads can you transfer this to `dotnet/project-system` - @jjmew

[2021-11-18 19:08] madskristensen commented on #69
@leslierichardson95 can you move it, please. I don't have permissions

[2021-11-18 20:01] leslierichardson95 commented on #69
I'm currently unable to transfer the issue since GitHub is only giving me the option to transfer to two repos that aren't project-system. :( @valentinbreiz, can you please re-post this issue on the `dotnet/project-system` repository?  Sorry for the inconvenience.

[2021-11-18 23:23] valentinbreiz commented on #69
Thanks, this issue can be closed since it [has been moved here](https://github.com/dotnet/project-system/issues/7776).

[2021-11-18 23:23] #69 closed

[2021-11-22 21:55] ssemon commented on #66
I've upgraded my extension to 2022, and visual studio finds it and I can step into it.
However, During runtime I get this message box:
![image](https://user-images.githubusercontent.com/60451724/142940601-37979b22-e4ab-4210-9ea2-21d9f708a7dd.png)
Is this related?

[2021-11-29 18:42] BertanAygun commented on #66
@ssemon, can you confirm if you also updated the ProjectSystem.Sdk package as mentioned above? This sounds like a mismatch of package versions.

[2021-11-30 00:14] ssemon commented on #66
@BertanAygun
Yes, I'm using the package above to build it, but not sure what's being installed on the system. Looking into that now, it seems that something is wrong.  However, it's working for visual studio 2019 and 32 bit.

[2021-11-30 01:26] ssemon commented on #66
@BertanAygun
Ok, so I added the Microsoft.VisualStudio.ProjectSystem.Sdk/17.0.667-pre.17.0.1313-pre to a visual studio 2019 32 bit solution, and ran into similar problems.   I'll start there and then move the same packages to the vs 2022 version of the project.
Only question is shouldn't the Microsoft.VisualStudio.ProjectSystem.Sdk/17.0.667-pre.17.0.1313-pre  work with the vs2019 and 32 bit projec

[2021-12-02 13:54] sajalverma17 opened #70 "[VS2022] The VsixPublisher.exe tool shipped with VS2022 seems to be broken"
### Installed product versions
Visual Studio: 2022 All Versions

### Description
Invoking the `VsixPublisher.exe` tool shipped with Visual Studio 2022 inside the folder `C:\Program Files\Microsoft Visual Studio\2022\Professional\VSSDK\VisualStudioIntegration\Tools\Bin` ALWAYS throws an exception from the Command Line.

### Steps to recreate
Go to above mentioned path of your flavour of Visual Stud

[2021-12-04 15:32] CartBlanche commented on #66
I think the issue ended up being that the Using the built in "Convert to PackageReferences" doesn't work for complex projects and it ended up removing files it shouldn't have. Which then cause the issues above. When I manually updated the PackageReferences  (for boring and tedious task), then things worked. I'll close this for me now.

[2021-12-04 15:32] #66 closed

[2021-12-06 17:19] ssemon opened #72 "MIssing References GetNamedCatalogsAsync() - #66 VS2022"
I've upgraded my extension to 2022, and visual studio finds it and I can step into it.
However, During runtime I get this message box:
image
Is this related?

@BertanAygun

Member
BertanAygun commented 7 days ago
@ssemon, can you confirm if you also updated the ProjectSystem.Sdk package as mentioned above? This sounds like a mismatch of package versions.

[2021-12-06 17:21] ssemon commented on #72
It's occuring when updating my vs2019 project to the latest ProjectSystem.Sdk package

[2021-12-06 19:20] BertanAygun commented on #72
The image didn't come through, can you copy paste the error?

[2021-12-06 21:42] wade0016 commented on #70
Sorry that this problem is happening. We are investigating a fix for this problem; in the meantime, it doesn't appear the same problem happens when using the [VSSDK BuildTools NuGet](https://www.nuget.org/packages/Microsoft.VSSDK.BuildTools/17.0.5232) package. Would it be possible to use that instead?

[2021-12-07 17:15] ssemon commented on #72
[VS2022] Various ProjectProperties methods and Properties are now missing.... #6
![142940601-37979b22-e4ab-4210-9ea2-21d9f708a7dd](https://user-images.githubusercontent.com/60451724/145075367-60f1c829-aebc-4d3f-8992-b52143cf5138.png)
6

[2021-12-07 17:24] ssemon commented on #72
It was stated that there may be a mismatch in packages.  So I updated the packages in a visual studio 2019 project and the same issue occurred.   The next step was to update the Microsoft.VisualStudio.Shell.Framework package and I get:
Could not install package 'Microsoft.ServiceHub.Analyzers 3.0.3078'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.7.

[2021-12-07 17:56] BertanAygun commented on #72
Do you have a reference to meta SDK package in your project: https://www.nuget.org/packages/microsoft.visualstudio.sdk, this should make sure all SDK references are in sync so you shouldn't need individual references to Shell.Framework and so on.

[2021-12-07 19:10] ssemon commented on #72
Hi Bertan, I tried it and it complains about the same thing.
Install-Package : Could not install package 'Microsoft.ServiceHub.Analyzers 3.0.3078'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.7.2', but the package does not contain any assembly references
or content files that are compatible with that framework. For more information, contact the pack

[2021-12-07 19:11] ssemon commented on #72
Install-Package : Could not install package 'Microsoft.ServiceHub.Analyzers 3.0.3078'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.7.2', but the package does not contain any assembly references
or content files that are compatible with that framework. For more information, contact the package author.
At line:1 char:1
+ Install-Package Microsoft.Visu

[2021-12-07 19:11] BertanAygun commented on #68
I am closing this as I verified that both commands and extension parts can inject TraceSource in the version we are working on. So next update of the SDK should fix this issue.

[2021-12-07 19:11] #68 closed

[2021-12-07 19:13] ssemon commented on #72
Could not install package 'Microsoft.ServiceHub.Analyzers 3.0.3078'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.7.2', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.
Time Elapsed: 00:00:00.7530641

[2021-12-07 19:26] LaggAt commented on #68
Thank you.

[2021-12-09 11:37] kaveeshd opened #73 "In VS2022, the interfaces `IVsSolutionLoadManager` and `IVsSolutionLoadManagerSupport` have been removed. What is the recommended way now to handle solution load?"
I have a custom project solution which does some cleanup tasks before the solutions are opened. With Visual Studio 2022, in the list of removed APIs, [https://docs.microsoft.com/en-us/visualstudio/extensibility/migration/removed-api-list?view=vs-2022#asynchronous-solution-load-and-lightweight-solution-load](https://docs.microsoft.com/en-us/visualstudio/extensibility/migration/removed-api-list?view

[2021-12-12 21:10] codecadwallader opened #74 "Using EnvDTE and vsCMAccess to set an access modifier is causing code deletion"
Within the `Microsoft.VisualStudio.SDK` package is the `EnvDTE80` assembly.  Inside it there are interfaces like `CodeFunction2` that allow for an access modifier to be set (e.g. `function.Access = vsCMAccess.Public`).  This used to work as expected for several years, but as I upgraded my extension CodeMaid to use v16.10.31321.278 of this package for VS2022 support it now has negative side effects

[2021-12-14 00:19] tinaschrepfer commented on #74
@codecadwallader - I've routed this to Roslyn as they own the code.  See the issue here for tracking: https://github.com/dotnet/roslyn/issues/58315

[2021-12-14 00:19] #74 closed

[2021-12-15 22:27] zspitz commented on #48
@MgSam Could you elaborate on this:

How else should Visual Studio "know" if a visualizer is relevant to a given object / expression / value? For example, the built-in WPF Designer visualizer shouldn't be available on anything other than `DependencyObject` (or whatever it's currently targeting).

[2021-12-16 06:15] CsabaStupak commented on #48
I had to agree with @MgSam that the existing debugger visualizer API is... not the best. I'm developing a C++ visualizer both DataTip and UI visualizer and it was a challenge. Really bad documentation, zero examples. I was directly communicating with MS developers - they were really helpful to get things somehow work.

I'm using the IDkmCustomVisualizer achieve my task. However it is tricky. We ar

[2021-12-19 13:16] reduckted commented on #70
I have just encountered this same problem when trying to publish an extension using GitHub Actions (build log is [here](https://github.com/reduckted/GitWebLinks/runs/4573288743?check_suite_focus=true)).

[code]

Despite the error, it _did_ succeed in publishing to the marketplace.

@wade0016 I tried using the VSSDK BuildTools NuGet package like you suggested, and it worked without any errors. Than

[2021-12-20 17:46] aldanchenko commented on #73
Hello, I have the same question for our extension. Any ideas?

[2021-12-21 11:14] sajalverma17 commented on #70
Just wanted to add for anyone else running into this: Another workaround, if possible, is to use VsixPublisher shipped with VS2019, as this is only a problem with VsixPublisher of VS2022.

I reverted my Github Actions publish build to run on `windows-2019`, and run VsixPublisher.exe present in the VS2019 installed on that image's runner.

[2021-12-30 07:38] kaveeshd commented on #73
Can anyone please help with this?

[2021-12-30 16:37] zivkan commented on #73
There are APIs like [IVsSolutionEvents.OnAfterOpenSolution](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.shell.interop.ivssolutionevents.onafteropensolution?view=visualstudiosdk-2022), [IVsSolutionEvents.OnBeforeCloseSolution](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.shell.interop.ivssolutionevents.onbeforeclosesolution?view=visualstudiosdk-2022#Micr

[2022-01-03 12:45] psmacchia opened #75 "Is the Visual Studio 2022 new icons gallery available?"
I didn't find any discussion about the Visual Studio 2022 new icons gallery (16x16, 32x32...),
is it available somewhere?

[2022-01-04 20:00] tinaschrepfer commented on #75
Can you clarify what you mean by the icons gallery?  Is there an equivalent of this in VS2019 that you've been using that you can point us to?

[2022-01-04 20:09] pvillads commented on #75
The icon sets have always been published outside Microsoft, ever since vs 2015 at least under some very permissive restrictions of use.

Images and Icons for Visual Studio - Visual Studio (Windows) | Microsoft Docs<https://docs.microsoft.com/en-us/visualstudio/extensibility/ux-guidelines/images-and-icons-for-visual-studio?view=vs-2022>

Best Regards

Peter Villadsen
Principal Architect
Microsoft B

[2022-01-05 04:53] psmacchia commented on #75
@tinaschrepfer yes Visual Studio images have always been available with guidelines
https://docs.microsoft.com/en-us/visualstudio/extensibility/ux-guidelines/images-and-icons-for-visual-studio?view=vs-2022

@pvillads it seems it hasn't been updated yet to the VS2022's icon set
https://docs.microsoft.com/en-us/visualstudio/designers/the-visual-studio-image-library?view=vs-2022 is dated 08/06/2021, j

[2022-01-05 17:40] pvillads commented on #75
I am just a consumer of the icons, also waiting for the 2022 versions. I have no affiliation with the VS team.

Best Regards

Peter Villadsen
Principal Architect
Microsoft Business Applications Group

For every complex problem there is an answer that is clear, simple, and wrong.
H.L. Mencken

From: psmacchia ***@***.***>
Sent: Tuesday, January 4, 2022 8:54 PM
To: microsoft/VSExtensibility ***@***.

[2022-01-08 21:03] petrzima opened #76 "Access to build events"
Hello. Is there an event to hook on successful solution/project build? There was BuildEvents class in old VS Extensions.
I used
`dte = (DTE2)await GetServiceAsync(typeof(DTE));`
            `events = dte.Events;`
            `buildEvents = events.BuildEvents;`
            `buildEvents.OnBuildProjConfigDone += BuildEvents_OnBuildProjConfigDone;`
            `buildEvents.OnBuildBegin += BuildEvents_

[2022-01-10 19:16] tinaschrepfer commented on #75
Thanks for the feedback!  The team is aware of this and we're working on providing an update soon.  Please track this ticket for updates on when it will be done: https://developercommunity.visualstudio.com/t/Include-Download-for-Visual-Studio-2022-/1576938

[2022-01-10 19:16] #75 closed

[2022-01-10 21:21] CartBlanche opened #77 "Sample that shows how to display toolbar item by default."
Currently the samples show you how to add a combobox or other toolbar item. Right now the user has to right click the toolbar and select the appropriate menu option to then display the toolbar item.
But how can you make that item appear in the toolbar automagically, when your extension is loaded for the very 1st time, for your specific project type?
A sample showing this would be great!

[2022-01-14 18:45] tinaschrepfer commented on #77
Thanks for trying this out and giving us feedback!  The feature you're asking for is not available in the new command model yet.  When we do implement it, we'll be sure to provide a sample showing how it can be done.

[2022-01-14 18:45] #77 closed

[2022-01-14 18:59] ssemon commented on #72
Hi Bertan,
Ok, I started over and followed your instructions.
I was able to step into the Extension and see that it works up to a point.
I'll file a new issue asking if we can still use c++ and com for a debug engine, or if we need to update to a csharp implementation.
I'll close this now.
Thanks,
Stuart

[2022-01-14 18:59] #72 closed

[2022-01-14 19:02] tinaschrepfer commented on #76
Thanks for the feedback.  I reached out to the engineer most familiar with this and here's what he said:

If that is indeed extension dev (writing a package that runs inside VS process), they can use the SBM events directly aka IVsUpdateSolutionEvents.
There in UpdateSolution_Done() we passing “fSucceeded” flag for overall build status.
And individual UpdateProjectCfg_Done also provide fSuccess fo

[2022-01-14 22:11] ssemon opened #78 "IDebugEngine2"
Migrating to Visual studio 2022 is presenting some challenges.
Our current implementation to our software is a 32 bit c++ dlls  So I'll need to update the main wrapper to a 64bit version, but it uses other 32 bit components.
Question 1:   Is the com object for IDebugEngine2 being supported, and for how long.?
Question 2:  Do you recommend upgrading the c++ wrapper to a .Net version?

[2022-01-14 23:48] gregg-miskelly commented on #78
We have no plans to deprecate IDebugEngine2. If you are happy with your existing implementation, simply converting it compile for x64 is a totally reasonable way to go.

I think that totally depends on how you feel about your current implementation and your team's language expertise. Here are the options for debugger backend components moving forward:

| Option         | When to build it this way

[2022-01-15 00:01] ssemon commented on #78
gregg-miskelly,
Thanks, for the quick reply.  I'll look into all three.
Closing this for now.

[2022-01-15 00:01] #78 closed

[2022-01-19 01:14] YehezkelShB opened #79 "Installation of 2019-version of an extension picks 2022 version from the cache?"
I followed the documentation on how to create separated versions of my VSIX to target VS2019 and VS2022. It worked for me flawlessly, or at least that what I thought. Lately, when trying to install the 2019 version on another machine, I get errors when opening VS2019 when it tries to load the extension. Investigating the logs I found that it tries to load `Microsoft.VisualStudio.Shell.15.0, Versio

[2022-01-19 14:38] sean-e commented on #79
I've not found that to be the case for locally installed extensions.  Is your extension installed for current user or for all users?

[2022-01-19 14:51] YehezkelShB commented on #79
All users, indeed

[2022-01-19 22:49] sean-e commented on #79
That may be key to the difference in behavior I've experienced -- though I've no idea if that is expected or not.

[2022-01-21 22:04] #47 closed

[2022-01-21 22:10] #53 closed

[2022-01-21 22:36] leslierichardson95 commented on #79
Thanks for reaching out!  Your 2022 manifest needs to have a different Id than the 2019 one.  Does making two different Identity Ids solve your issue?

[2022-01-21 22:51] #65 closed

[2022-01-22 17:08] YehezkelShB commented on #79
Thanks for the answer, @leslierichardson95

I haven't tried it yet, going to test it soon. Anyway, could we please update the documentation this way, to make it clear that different ID is definitely required?

[2022-01-23 18:35] shaggygi opened #80 "Improved Support and Docs for DGML and the Editor"
This might be specific to the current DGML Editor but adding here as the related APIs/docs could be improved as the new VS Extensibility roadmap progresses.

I currently use [OpenSoftware DGML Builder](https://www.nuget.org/packages/OpenSoftware.DgmlBuilder) as it is easier to work with compared to the provided [VS GraphModel package](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstu

[2022-01-31 09:10] aldanchenko opened #82 "Handle unhandled exceptions in Visual Studio Extension"
Hello,

Don’t sure it’s proper place for this question.

In order to be able to fix unexpected exceptions in our extension, we would like to send unhandled exception stack traces to remote logging service.

How could we configure the extension to catch all unhandled exceptions and send them to that service.

Thanks for your help!

Best regards,
Alex

[2022-01-31 09:19] ErikEJ commented on #82
I catch exceptions in all event handlers and show them in the output window and send them to Application Insights

[2022-01-31 09:20] aldanchenko commented on #82
Hello @ErikEJ

Thank you for quick response! Could you please share more information about this approach or maybe some example code?

[2022-01-31 09:24] ErikEJ commented on #82
This is the Core of it, I think something I borrowed from @madskristensen back in the day, you can find usages and walk the call tree to understand usage.

https://github.com/ErikEJ/EFCorePowerTools/blob/master/src/GUI/Shared/Helpers/Telemetry.cs

[2022-01-31 09:37] aldanchenko commented on #82
Thank you @ErikEJ! I'll check it. Great!

[2022-02-01 06:12] BertanAygun commented on #82
@aldanchenko, there is currently no support for collecting or sending telemetry data through Visual Studio SDKs. As Erik mentioned, you could utilize Application Insights or other telemetry endpoints internally in your extension code. Unfortunately, there is also no one common place to catch exceptions for the in-proc SDK but you can wrap command and event handlers in try/catch blocks.

This is so

[2022-02-01 09:12] aldanchenko commented on #82
Thank you @BertanAygun! Great idea 💡!

[2022-02-03 00:39] ssemon opened #83 "Having issues with pkgdef files for visual studio 2022"
I've created two stubs for the AD7Engine, and PortSupplier.
I've also created a visix using the DebugLaunchProviderBase.

However, when hooking with the project I can step though the visix code and
public override async Task<IReadOnlyList<IDebugLaunchSettings>> QueryDebugTargetsAsync(....)
which sets:
               ............................
               ............................

[2022-02-03 17:36] ssemon commented on #83
GUID Constants object:

    public static class Constants
    {
        public const string DebugEngineName = "Intime Debugger Engine";

        public const string DebugEngine170Id = "70A6FCFC-1A0A-4B61-A320-FD28F92D3732";
        public const string DebugEngine170ClassId = "2A3220C9-8CA7-4F05-8747-520D6A78B61B";
        public static readonly Guid DebugEngine170Guid = new Guid(DebugEngine170Id);

[2022-02-04 17:44] gregg-miskelly commented on #83
Hello, I am happy to try and help.

Questions:
1. Are you seeing the constructor for your port supplier or engine getting called? (or their assembly being loaded)
2. If so, is your implementation failing?
3. If not, if you turn off Just-My-Code in your dogfood VS instance (the instance you are using to develop your extension) and managed debug devenv, do you see any FileNotFound exceptions when yo

[2022-02-04 23:27] ssemon commented on #83
Thanks Gregg,
I've followed your instructions and have screen shots below.  I did it with both the 2019 extenstion stub and 2022 extension stub.
To answer your questions.
1) 2019 - yes, 2022-no.
2) They are just stubs at the moment, implementing the all the interfaces as stubs. (No Implementation/Not Implemented Exceptions)   Need to get the stubs working before I port real code over.
3) 2019 no p

[2022-02-04 23:30] ssemon commented on #83
Hello Gregg,
I've also attached a screenshot of the diff between the two pkgdef files thinking the issue resides there.

The main diff is the GUIDs which match in the previous comment.

![diff_of_pkgdef](https://user-images.githubusercontent.com/60451724/152616714-6d9c100d-93a6-4dac-8b71-48135865e97e.png)

[2022-02-04 23:41] gregg-miskelly commented on #83
@ssemon:

Sorry, you grabbed Process Explorer screen shots, but I would actually recommending Process Monitor so that hopefully we can see what file/registry key/etc is "not found".

A few other notes in case they are helpful --
* Engine GUIDs/Port Supplier GUIDs shouldn't need to change between versions. The only time you would want to re-GUID is if you had two different versions of your product

[2022-02-05 00:09] ssemon commented on #83
Thanks Gregg,
1) The clarification, will make things simpler using the same guids for different visual studio versions, and targeting Any CPU will help in this case.
2) My bad, I misread your comment, I'll have something on Monday showing the Process Monitor.
Best Regards,
ssemon

[2022-02-08 16:11] ssemon commented on #83
Hello Gregg, unfortunately, works dns went down yesterdsy (I work from home), and IT is working on it, so I haven't been able to get data yet.;
I'll keep you posted.
Thanks for the help.

[2022-02-08 20:35] ssemon commented on #83
Hello Gregg,
I looks like it's not finding the port supplier.
![Not_Finding_PortSupplier](https://user-images.githubusercontent.com/60451724/153070955-0825fd0d-0e25-47a7-9424-859ea50108ff.png)
![Extension_Dir](https://user-images.githubusercontent.com/60451724/153070980-2d6fa8f4-34d9-41b3-acfc-ef8528547843.png)

Not sure what to do about it though.

Best Regards,
Ssemon

[2022-02-08 21:02] gregg-miskelly commented on #83
Are you filtering the results to just failures? I am not sure that it is actually failing because the next row after the failure for '..._Config\AD7Metrics\PortSupplier\{E844B652-8854-478F-8237-206BCAFFDC4F}' is probing at your CLSID, which seems to imply that it successfully read 'PortSupplier\<Your-Guid>\CLSID'.

If you want to double check that your .pkgdef is successfully making it to the regi

[2022-02-08 22:06] ssemon commented on #83
It's actually probing at the shell class id:
![Shell_Registry](https://user-images.githubusercontent.com/60451724/153082730-fab83759-f8e2-4ccc-b841-109d7ea5eb2b.png)

But never finds the classId for the port supplier which is:
C644EA21-DE61-4D47-A7E0-58B4BF26F1DA

Attached is the PortSupplier.PML, as a zip, perhaps you may see something, that I'm missing.

[PortSupplier.zip](https://github.com/mic

[2022-02-08 22:08] ssemon commented on #83
Hi Gregg,
it also never gets past the port supplier, to try to load the engine.

[2022-02-08 22:35] ssemon commented on #83
Hi Gregg,
I was wondering if you would be willing to review the stub project if I zip it up and attach it here.  For I'm just trying to get the AD7Metrics Engine and PortSupplier to register correctly.
Maybe you might see something I am missing.
Thanks,
Ssemon

[2022-02-08 22:57] gregg-miskelly commented on #83
Yes, I would be happy to take a look.

[2022-02-08 23:07] ssemon commented on #83
Hi Gregg, thanks appreciate it.
Here is the zip.
[IntimeDbStub.zip](https://github.com/microsoft/VSExtensibility/files/8028157/IntimeDbStub.zip)
Best Regards,
ssemon

[2022-02-09 00:49] gregg-miskelly commented on #83
I had a lot of trouble getting your sample project to build. It is currently failing because `GetConfigurationGeneralPropertiesAsync` is missing for me.

A few notes:
1. If the `vsregedit.exe` command that I gave you above is failing, I believe the issue is that your `source.extension.vsixmanifest` doesn't declare an asset for your .pkgdef file. You should have something like `<Asset Type="Microso

[2022-02-09 14:51] kamrann opened #84 "Open Folder extensibility and CMake integration"
Is the CMake C++ integration within Visual Studio implemented through the public Open Folder extensibility API? I was assuming so and that the code would be on Github somewhere, but I wasn't able to find anything.

I've started work on an Open Folder extension for the build2 toolchain, but the lack of any example code is a major blocker on progress. If the CMake integration implementation was publ

[2022-02-09 17:02] ssemon commented on #83
Hi Gregg,
Sorry about that. GetConfigurationGeneralPropertiesAsync is generated by xaml ruleset.
I'll unzip into and new folder and see why the ruleset isn't generating.  I'll fix that.
I'll also fix the 3 items you mentioned.
Finally I'll send the fixed back to you in the zip.
Thanks,
Ssemon

[2022-02-09 17:28] gregg-miskelly commented on #83
Ah. My fault then on the `GetConfigurationGeneralPropertiesAsync` problem -- I was having issues with the XAML stuff due to the hard coded path, so I just commented it out. I had no idea that stuff generated code.

[2022-02-09 17:31] ssemon commented on #83
I see, ok, I'll examine that and see how to get it to reference without hard coded paths.  The other references were added by project like the IntimeDbConstants, and IntimeDbStub in the Intime project.  Not sure why it puts the whole path there.

[2022-02-09 17:52] ssemon commented on #83
I found out that the location for general.xml has changes in visual studio 2019,   which wasn't updated in out project because it built correctly.
It's in C:\Program Files\Microsoft Visual Studio\2022\Professional\Msbuild\Microsoft\VC\v170\1033\general.xml
So line 146 in IntimeDbStub.csproj needs to change to:
<XamlPropertyRule Include="C:\Program Files\Microsoft Visual Studio\2022\Professional\Ms

[2022-02-09 17:52] ssemon commented on #83
I'm testing the above changes, and will send a new zip.
Thanks,
Ssemon

[2022-02-09 17:55] ssemon commented on #83
It left the xmal comments out in the above csproj changes.
So line 146 in IntimeDbStub.csproj needs to change to:
C:\Program Files\Microsoft Visual Studio\2022\Professional\Msbuild\Microsoft\VC\v170\1033\general.xml
Also line 104 in IntimeDbStub.csproj needs to change to:
C:\Program Files\Microsoft Visual Studio\2022\Professional\Common7\IDE\Extensions\INtimeDebugger

[2022-02-09 18:12] ssemon commented on #83
Ok the changes were tested below:  But still the same dialog pops up.  Unable to debug, cannot find file...

1) <Asset Type="Microsoft.VisualStudio.VsPackage" ... Path="INtimeDebugger.pkgdef" /> added to Intime proj.
2) Removed register for COM Interopt.
3) Project references, not sure why I cannot add relative paths.
4) Fixed the csproj file for xaml rules.

[IntimeDbStub.zip](https://github.com/

[2022-02-10 00:55] ssemon commented on #83
Hi Gregg, if you would like to try the platform build and debug settings for Intime you should be able to do so with the following:
Unzip Intime_Platforms.zip into C:\Program Files\Microsoft Visual Studio\2022\Professional\Msbuild\Microsoft\VC\v170\Platforms or where your Msbuild for visual studio 2022 is.

Attaches is also a test project for the debugger.

[INtime_Platforms.zip](https://github.co

[2022-02-10 00:58] ssemon commented on #83
Another note, to build it you might have to add a reference to some headers and libs for microsoft in the test project, because we have modified headers in $(INtime)/rt/include, and libs in $(Intime)/rt/lib, as well as binaries in $(Intime)/bin.

[2022-02-10 01:00] ssemon commented on #83
A simple Hello world should work with microsoft settings.  And be able to step through the IntimeDbStub

[2022-02-10 01:48] ssemon commented on #83
Ok, I found out it took a little work to get the microsoft headers and libs to work.
Here is an modification to the test project, using windows headers, and libs.
[libcxx22test.zip](https://github.com/microsoft/VSExtensibility/files/8037402/libcxx22test.zip)

[2022-02-10 18:42] ssemon commented on #83
Hi Gregg,  I modified the above IntimeDbStub to work with visual studio 2019 by changing the visixmanifest install targets and prerequisites only.   I get the not implemented exception from the Engine stub as expected.
Is there anything, I could provide to help anayze the 2022 problem?  Perhaps a shared project with both visual studio versions in it?
At this point my status is that it looks like i

[2022-02-10 18:43] ssemon commented on #83
![Not_Implemented_Exception](https://user-images.githubusercontent.com/60451724/153475220-a57f5e5f-f797-4324-a962-50d9aa262e6f.png)

[2022-02-13 13:02] shaggygi opened #85 "Support creating own Project System"
Seems like there are issues in 2022 trying to create your own Project System.  For example, .myproj and custom setup.

Would be nice to easily create your own to get started along with adding custom nodes within Solution.

The community toolkit also does not currently have this feature.

See https://github.com/VsixCommunity/Community.VisualStudio.Toolkit/issues/301

[2022-02-14 23:21] ssemon commented on #83
Hello Gregg,
Ok closing this now.  Figured out a few extra things like breaking API changes that were confusing at first.
This problem wasn't in the pkgdef file at all.
Thanks,
Ssemon

[2022-02-14 23:21] #83 closed

[2022-02-14 23:26] gregg-miskelly commented on #83
@ssemon sorry for the delay. Glad you figured it out!

[2022-02-15 22:40] timheuer commented on #70
@leslierichardson95 I'm hitting this now as well and this issue is closed.  While the workaround is to use the windows-latest (vs2019) image, that will soon be changed and VS2022 will be the default -- can we re-open this issue to track? @madskristensen

[2022-02-17 04:03] chryw commented on #75
The Visual Studio 2022 Image Library is available now: https://www.microsoft.com/en-us/download/details.aspx?id=35825. Please check it out and let us know your feedback. Please continue to provide feedback and help us be even better. Thank you!

[2022-02-17 20:34] BertanAygun commented on #84
Hi, I will pass your feedback to the team owning the Open Folder feature for follow-up. Thanks!

[2022-02-17 20:39] BertanAygun commented on #85
Hi, could you elaborate on the issues you are seeing in VS 2022 regarding creating your own project system?

We do plan to support adding a project system via out-of-proc extensibility in future versions but there are no details to be shared yet. In the current iterations, we will focus on interacting with existing project systems though as the more common scenario.

For creating a new project sys

[2022-02-17 22:02] shaggygi commented on #85
I attempted to follow the following tutorial and seems to blow up when starting in experimental hive.  I don't recall the specifics except for the exception mentioned it didn't support my type and included *.myproj in display.

https://docs.microsoft.com/en-us/visualstudio/extensibility/creating-a-basic-project-system-part-1?view=vs-2022

[2022-02-18 23:47] hkazhungil opened #86 "Need x64 version of VSASSERT.DLL"
Hi,

Where I can get the x64 version of VSASSERT.DLL, the one shipped with VS 2022 SDK is 32 bit VSASSERT.DLL.

[2022-02-19 23:08] ben-hamida commented on #70
I'm also hitting this, windows-latest now defaults to VS2022 for me. Workaround is to change to windows-2019.

[2022-02-20 17:13] samuel-mr opened #87 "VS 2022 17.2 Prev1 crashes when run samples"
Hi, my VS crashes `InvalidOperationException` when I try to run your [samples](https://github.com/microsoft/VSExtensibility/tree/main/New_Extensibility_Model/Samples).

## Software
- Visual Studio Community 2022 **17.2.0 Preview 1.0**
- Installed [OOP Extension](https://marketplace.visualstudio.com/items?itemName=vsext.gladstone)

## Steps to reproduce:
1.  open [samples](https://github.com/micros

[2022-02-22 17:43] sae42 opened #88 "17.x versions of Workspace APIs missing from NuGet"
I.E. [Microsoft.VisualStudio.Workspace.VSIntegration](https://www.nuget.org/packages/Microsoft.VisualStudio.Workspace.VSIntegration/16.7.47-preview-0001)
[Microsoft.VisualStudio.Workspace](https://www.nuget.org/packages/Microsoft.VisualStudio.Workspace/16.7.47-preview-0001)
[Microsoft.VisualStudio.Workspace.Extensions](https://www.nuget.org/packages/Microsoft.VisualStudio.Workspace.Extensions/16.7

[2022-02-24 23:59] sgreenmsft commented on #88
@sae42 - Thanks for reaching out. Updated versions of these packages should now be available on nuget.org.

[2022-02-25 18:27] #88 closed

[2022-03-03 21:16] matteo-prosperi commented on #87
Hello @samuel-mr,
thank you for reporting this.
New versions of `Microsoft.VisualStudio.Extensibility.Sdk` and `Microsoft.VisualStudio.Extensibility.Sdk` targeting VS 17.2 haven't been published yet. So the samples won't work on VS 17.2.
Because the Microsoft.VisualStudio.Extensibility model is still in preview stage, extensions written using the old packages cannot be used on a newer VS version.

[2022-03-03 21:16] #87 closed

[2022-03-04 18:12] tinaschrepfer commented on #86
Thanks for the feedback.  We're looking into this issue and will update when we have more to share.

[2022-03-18 00:09] ssemon opened #90 "Port Supplier issue when filling in process list getting memory corruption."
I'm getting a failure when loading a Node within the

The failure appears in out CProcess class which is implemented in the following way:

    public class CProcess : IDebugProcess2,
                            IDebugProcessEx2,
                            IDebugProgram2,
                            IDebugProgramEx2,
                            IDebugProgramNode2,
                            IDeb

[2022-03-18 00:17] ssemon commented on #90
Here is a screen shot of the ProcessInfo before the crash.

![image](https://user-images.githubusercontent.com/60451724/158914073-6b02b2e2-82d6-485b-b520-2972c37df59c.png)

[2022-03-18 00:25] ssemon commented on #90
I aplogize I noticed the first sentence is incomplete.
It should be..     I'm getting a failure when loading a Node within the Connection Target dropdown.

[2022-03-18 17:35] ssemon commented on #90
More Information,
Using Native Debugger,  The call that crashes in Visual Studio is:
	00007FF8249D7DEC  call        CVsAttachToProcessesDialog::CProcessInfo::CProcessInfo (07FF8249CF960h)
Not sure if this is related to PROCESS_INFO that is set during GetInfo

[2022-03-18 23:44] ssemon commented on #90
More information:
	00007FF8249D7DEC  call        CVsAttachToProcessesDialog::CProcessInfo::CProcessInfo (07FF8249CF960h)
	00007FF8249CF9CA  lea         rax,[CDebugEventSink::`vftable' (07FF824BB18D0h)]

	Our new implementation doesn't call GetInfo for the count of EnumProcesses.
	It calls GetPhysicalProcessId and GetProcessId for the number of processes in the Enum.
	However, for GetInfo it is onl

[2022-03-19 00:05] ssemon commented on #90
I put a callback to the Port for the enumProcesses.  When it enters GetInfo, I'm able to look at it and it appears to be ok.
![image](https://user-images.githubusercontent.com/60451724/159098303-13c148ba-4b75-4302-b5b9-486cdfe52ca7.png)

The index that the GetInfo is using of the enum is 0, for the first item, and gets that info, but doesn't continue to get the rest of the processes information.

[2022-03-25 01:39] ssemon commented on #90
Any help would be appreciated with this.

I created a test to see if I could fill in the PROCESSINFO with some psuedo information.
IDebugProcess2.GetInfo(...)

This is a psuedo implementation to track down my issue.  I am setting the strings in the pProcessInfo with psuedo values.
And I end up getting memory corruption, with the strings.
If the strings, and the Fields are not filled in for the ite

[2022-03-25 17:09] ssemon commented on #90
I modified our native implementation close to the same way:  Which shows the process window as shown below.
HRESULT CProcess::	GetInfo(
	PROCESS_INFO_FIELDS	Fields,
	PROCESS_INFO*		pProcessInfo)
{
	char*			p;
	NTXHANDLE		hNode, hRoot, hProc, hLRS;
	int				len;
	LRS_STRUCT*		pLRS;
	TRACEFUNT;

	if (!pProcessInfo)
		return E_INVALIDARG;

	// Get the fake process information
	memset (pProcessInfo, 0

[2022-03-28 16:50] CartBlanche opened #91 "How to update Play/Start button with attached device list..."
### Installed products
- Visual Studio: VS2019 and VS2022

### Description
I'm trying to replicate the functionality that the Android VS extension for Windows has.
Currently I have a combo box that lists custom devices attached to Window's COM ports, as per this screenshot.
![DeviceList](https://user-images.githubusercontent.com/271363/157040739-bbb6d03e-1c13-4663-a638-71ba0cfa0d4e.png)
This is fi

[2022-03-30 04:08] r-ramesh commented on #90
@ssemon Could you share a crash dump at the point of the crash?

[2022-03-30 18:20] ssemon commented on #90
Yes, I'll start working on that.   I've got to change the pkgdef from c++ to c#. I'm working on another item at the moment, so it may be a day or two.

[2022-04-01 22:17] ssemon commented on #90
Here is the crash dump, Unfortunately, I wasn't able to see anything, that relates to the strings.  The only thing showing up is wait for mutliple objects.   However, some symbols failed checksums.

Won't let me upload a zip of the crash dump.

[2022-04-01 22:44] ssemon commented on #90
[devenv.zip](https://github.com/microsoft/VSExtensibility/files/8401220/devenv.zip)

rename the following files to the following from .txt
devenv.z01
devenv.z02
devenv.z03

[2022-04-01 22:46] ssemon commented on #90
It won't let me load the splits

[2022-04-04 10:22] CartBlanche commented on #91
@madskristensen, @leslierichardson95, Thanks for reaching out on Twitter. It has now been 7 days since I created this new issue for better visibility and 28 days since I raised the linked issue on the Extensibility Samples repo. I would really like to get this functionality into our extension by the v1.0 release, in May. So any help, even links to documentation, that will point me in the right dir

[2022-04-04 16:18] CartBlanche commented on #91
@BertanAygun Thanks for replying. I'm fine with not having a sample if I'm pointed to the right documentation. I can usually work it out, if the documentation is accurate and up to date.

If I understand The documentation you pointed me too
correctly, this would add a separate  MenuController option to the Toolbar. Correct me if I'm wrong? And what I want to do is re-purpose the existing play/debu

[2022-04-04 16:33] ssemon commented on #90
[Visual_Studio_Dump2.zip](https://github.com/microsoft/VSExtensibility/files/8411505/Visual_Studio_Dump2.zip)

[2022-04-04 16:35] ssemon commented on #90
[Visual_Studio_Dump3.zip](https://github.com/microsoft/VSExtensibility/files/8411514/Visual_Studio_Dump3.zip)

[2022-04-04 16:36] ssemon commented on #90
[Visual_Studio_Dump4.zip](https://github.com/microsoft/VSExtensibility/files/8411525/Visual_Studio_Dump4.zip)

[2022-04-04 16:37] ssemon commented on #90
[Visual_Studio_Dump5.zip](https://github.com/microsoft/VSExtensibility/files/8411531/Visual_Studio_Dump5.zip)

[2022-04-04 16:38] BertanAygun commented on #91
@CartBlanche, is my assumption correct that the button you mention in Android projects is the debug target dropdown? (F5).

If so, you would have to go through project system extensibility as you would be modifying the debug launch targets. That would depend on how Meadow application project is implemented. Is it based on CPS or managed project framework? If you can provide more details, I can for

[2022-04-04 16:38] ssemon commented on #90
[Visual_Studio_Dump6.zip](https://github.com/microsoft/VSExtensibility/files/8411538/Visual_Studio_Dump6.zip)

[2022-04-04 16:41] ssemon commented on #90
[Visual_Studio_Dump8.zip](https://github.com/microsoft/VSExtensibility/files/8411556/Visual_Studio_Dump8.zip)

[2022-04-04 16:42] ssemon commented on #90
[Visual_Studio_Dump9.zip](https://github.com/microsoft/VSExtensibility/files/8411564/Visual_Studio_Dump9.zip)

[2022-04-04 16:44] ssemon commented on #90
[Visual_Studio_Dump10.zip](https://github.com/microsoft/VSExtensibility/files/8411579/Visual_Studio_Dump10.zip)

[2022-04-04 16:45] ssemon commented on #90
[Visual_Studio_Dump11.zip](https://github.com/microsoft/VSExtensibility/files/8411589/Visual_Studio_Dump11.zip)

[2022-04-04 16:48] ssemon commented on #90
The previous 13 zips contain the 63 pieces used with the first zip.  The first zip needs the pieces to extract the whole dump file.
Thanks,
ssemon

[2022-04-04 16:56] ssemon commented on #90
After testing the extraction xxx10.zip was missing a piece.   A new file is attached.
[Visual_Studio_Dump10.zip](https://github.com/microsoft/VSExtensibility/files/8411684/Visual_Studio_Dump10.zip)

[2022-04-04 17:12] CartBlanche commented on #91
@BertanAygun Yes the Debug Target (F5) drop-down. We already have debugging working. Rather than type lots, I can point you to Our repo for our Windows extensions, which are public here - https://github.com/WildernessLabs/VS_Win_Meadow_Extension.

All the extension code should be here - https://github.com/WildernessLabs/VS_Win_Meadow_Extension/tree/main/VS_Meadow_Extension/VS_Meadow_Extension.Shar

[2022-04-04 17:48] CartBlanche commented on #91
@BertanAygun Sorry I meant to say it's based on a CPS project. I just did some quick googling and it seems IDynamicDebugTargetsGenerator is what populates the Debug Target drop down?? Could you point me to appropriate docs, as Google couldn't find them.
Also if I get this working, I'm more than happy to provide a sample for your extensibility repo, so others don't go through the same pain as me, w

[2022-04-05 09:39] kaveeshd commented on #73
@zivkan Thank you, your comments helped. It took me sometime to figure this out, and put everything in order.

I will close this issue.

[2022-04-05 09:39] #73 closed

[2022-04-05 12:36] r-ramesh commented on #90
@ssemon Could you file a feedback item on Visual Studio using the Help > Send Feedback > Report a Problem? You can attach the full crash dump directly there.

[2022-04-05 16:52] ssemon commented on #90
Ok I submitted the details with the dump.

[2022-04-05 17:06] r-ramesh commented on #90
Could you share a link to the feedback item?

[2022-04-06 15:50] ssemon commented on #90
https://developercommunity.visualstudio.com/t/Visual-Studio-Extension---PortSupplier--/10005302?entry=problem&ref=native&refTime=1649260231548&refUserId=f19fec0e-f3bc-4f56-8875-02b11e9aa9c0

[2022-04-07 10:10] CartBlanche commented on #91
@BertanAygun I've now set up a branch with the beginning of implementing `IDynamicDebugTargetsProvider` and `IDynamicDebugTargetsGenerator` with my changes to get this working.
https://github.com/WildernessLabs/VS_Win_Meadow_Extension/tree/dominique-CustomDebugTarget

I have code being hit, but the Debut Target isn't being hit. So I just need the last few pieces in this puzzle to get this working,

[2022-04-12 09:39] r-ramesh commented on #90
Could you upload the crash dump to the ticket? It seems like it hasn't gotten uploaded.

[2022-04-12 17:22] ssemon commented on #90
It's there, [devenv.DMP](https://aka.ms/dc/file?name=B34569066ce3545209525f9c9639c34c3637847739809399210_devenv.DMP&tid=34569066ce3545209525f9c9639c34c3637847739809399210)

[2022-04-20 07:45] nliu-ms opened #92 "Does VS extension support CodeLens?"
Does vs extension support CodeLens like vscode extension?
https://code.visualstudio.com/api/references/vscode-api#CodeLens

I only find that VS community edition supports some predefined CodeLens.
https://docs.microsoft.com/en-us/visualstudio/ide/find-code-changes-and-other-history-with-codelens?view=vs-2022

Can I have my own CodeLens implementation? Thank you!

[2022-04-24 16:54] jdonosom opened #93 "How to use Winform or WPF configuration interface for Extensions"
I want to use an interface to pass a series of parameters to the extension.

[2022-04-26 05:58] nliu-ms commented on #92
Found this sample: https://github.com/microsoft/VSSDK-Extensibility-Samples/tree/master/CodeLensOopSample

Will close this issue, thanks!

[2022-04-26 05:58] #92 closed

[2022-04-28 10:02] CartBlanche commented on #91
@prashantvc Is there anyone within MS who can help on this issue? Another one that is a month old now.

[2022-04-28 14:57] BertanAygun commented on #93
Hi, would you be able to provide more details on your scenario and the problem you are running into? Thanks.

[2022-05-12 11:14] CartBlanche opened #94 "Best Practices to Log stack trace when our extension crashes...."
What is the best way to log, or see, the stack trace when out extension crashes and takes the IDE with it?
Is there a Best Practices document or suggestions? Maybe writing things to _/log_ perhaps?

We'd like customers of our extension to be able to send us log, so we can see where our extension crashed for them.

[2022-05-13 17:06] BertanAygun commented on #94
@CartBlanche, are you asking for an existing extension using in-proc VSSDK?

There are couple logging paths for Visual Studio currently:

* %APPDATA%\Microsoft\VisualStudio\17.0_<id>\ActivityLog.xml: This may contain some information about the exception before a crash depending on where the exception occurred. Your component can also log here using https://docs.microsoft.com/en-us/visualstudio/ext

[2022-05-26 16:23] ankitvarmait commented on #86
A fix for this issue has been internally implemented and is being prepared for release. We'll update you once it becomes available for download.

[2022-06-09 12:38] CartBlanche commented on #91
We're now coming up to 3 months since I asked the question here. Any suggestions, docs or code snippents?

[2022-06-09 12:43] CartBlanche commented on #94
@BertanAygun Thanks for the info. I'll pass it on.

[2022-06-09 19:03] lifengl commented on #91
I remember @adrianvmsft  published a sample project to create such extension in https://github.com/microsoft/VSProjectSystem/tree/master/samples/CpsExtension. This might be useful?

I took a quick look into your extension, and have a question:  are you creating a project system on the top of CPS, or NET Core SDK projects?  Because you ship all rules (like None.xaml), i guess it is an independent p

[2022-06-09 22:25] tmeschter commented on #91
In the Android case, they are creating a set of [`ILaunchProfile`s](https://github.com/dotnet/project-system/blob/main/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Debug/ILaunchProfile.cs), one per device/emulator. Basically, when your project loads (or the set of devices changes) you'll need to get a hold of the [`ILaunchSettingsProvider`](https://github.com/dotnet/project-syste

[2022-06-10 04:55] CartBlanche commented on #91
@lifengl I inherited the project so have avoided making major changes for now, but we plan to address technical debt post v1.0 launch. Essentially we need to support C#/F#/VB.NET projects that target our custom runtime, runs on these IOT devices. I'll take a look at the CPS project you linked to.

[2022-06-10 04:57] CartBlanche commented on #91
@tmeschter Thanks for the additional information i will do further research on `LaunchProfiles` and the other things you mentioned.

[2022-06-17 23:37] WardenGnaw opened #95 "Dependent VSIX is not installed in Visual Studio 2022 Preview 17.3.1"
Originally from: https://github.com/microsoft/MIEngine/issues/1316
by @sangwook96

--------------------

Hi
I am a developer for Tizen App.
During working, we got one issue.
In Visual Studio 2022 Community Preview (17.3.0 Preview 1.1), we tried to install https://marketplace.visualstudio.com/items?itemName=tizen.VSToolsTizen2022 (3.6.0.0)
After completing to installation, I find out the one issue.

[2022-06-20 17:55] sangwook96 commented on #95
@WardenGnaw
Hello,
Do you have any progress?
We are waiting for it.
Thanks

[2022-06-22 19:29] sangwook96 commented on #95
@WardenGnaw
Hi,
We are tracking the previous history on the website.
But, it would be helpful for you to update your comment here.
Thank you very much for considering our issue.

[2022-06-23 05:59] sangwook96 commented on #95
@WardenGnaw, @leslierichardson95
Hi,
Thank you very much.

https://developercommunity.visualstudio.com/t/Deleted-MIEngine-libraries/10067461?space=8&q=miengine
A fix for this issue has been released! Install the most recent release from https://visualstudio.microsoft.com/downloads/. Thank you for providing valuable feedback which has helped improve the product.

I tested it on the below version bu

[2022-06-23 11:15] pallibj opened #96 "NuGet packages Microsoft.VisualStudio.Extensibility.Sdk and Microsoft.VisualStudio.Extensibility.Build missing"
Trying out the samples, the two required NuGet packages in the subject are not restored.

Seems that they have been removed from NuGet.Org.

Where can I get these Nugets so I can try out the samples ?

Palli

[2022-06-25 16:26] sangwook96 commented on #95
@matthew-j-clark
Hello,
Could you help us, too?
https://developercommunity.visualstudio.com/t/Deleted-MIEngine-libraries/10067461?space=8&q=miengine
A fix for this issue has been released! Install the most recent release from https://visualstudio.microsoft.com/downloads/. Thank you for providing valuable feedback which has helped improve the product.
You updated that it was fixed in  Visual Studio

[2022-06-29 16:38] AliShahesmaeili opened #97 "ToolWindow"
Is [ToolWindow ](https://github.com/microsoft/VSSDK-Extensibility-Samples/tree/master/AsyncToolWindow)supported in new VSExtensibility?

[2022-06-29 21:27] pallibj commented on #96
Using Install-Package just gives me the same results, for example:

Install-Package https://www.nuget.org/packages/Microsoft.VisualStudio.Extensibility.Sdk

Throws the following error:
Install-Package : Unable to find package 'https://www.nuget.org/packages/Microsoft.VisualStudio.Extensibility.Sdk'
At line:1 char:1
+ Install-Package https://www.nuget.org/packages/Microsoft.VisualStudio ...
+ ~~~~~

[2022-06-29 21:37] AliShahesmaeili commented on #96
@pallibj try with version
_Install-Package Microsoft.VisualStudio.Extensibility.Sdk -Version 17.2.18-alpha_

[2022-06-29 21:43] pallibj commented on #96
That worked !

Is it the same version for Extensibility.Build ?

How will I know if there is a new version ?

And second, what is the git repository for the code ?

Palli

[2022-07-08 06:54] annajayne opened #98 "Native code support"
I look after two products which include VS extensions (they provide commands and toolwindows, as well as reading project settings and analysing/modifying source code).

I'd like to start the process of updating them - or at least scoping out the work that is likely to involve if we move to the new model for future versions of Visual Studio. Both are large native code (C++ 14) projects (the extensi

[2022-07-11 18:29] BertanAygun commented on #98
Hi @annajayne, at this point we have no plans to support C++ for the new extensibility APIs and the framework. Part of the reason being that they rely on existing C# libraries for JsonRPC, serialization and the API will utilize async/await features heavily so it would be substantial work to enable similar support for C++.

Does your existing native libraries have any dependency in to VS APIs inter

[2022-07-11 18:31] BertanAygun commented on #97
Hi @AliShahesmaeili, adding tool window support is something we are working on currently. You will see an announcement on this page once the support is ready.

[2022-07-11 18:33] BertanAygun commented on #96
@pallibj, the libraries are closed source right now and we have been releasing them as non-browsable packages in Nuget.org as the SDK has been released as a limited preview. In our next milestone, we will start uploading the packages publicly but we have no plans to open source them at this point.

[2022-07-11 18:33] #96 closed

[2022-07-12 06:57] annajayne commented on #98
I can't say I'm surprised to hear you won't support native code but I am very disappointed.

We use C++ for this project becauee it gives us the ability to support multiple versions of VS from the same binary without running foul of .NET dependencies. It's been a good choice but the tooling support from Microsoft has always been an afterthought.

Our native libraries implement the core of the prod

[2022-07-12 15:19] YehezkelShB commented on #98
(Not from VS team, just a curious reader)
Interesting. Don't you have to compile it separately for VS2022 due to the switch from x86 to x64?

[2022-07-12 17:01] annajayne commented on #98
Yes, but we had the core already ported to x64 build to support Eclipse already so that wasn't  really an issue...basically all we had to do for the plugin was import the updated type libraries, add a handful of bits of conditional compilation logic and rebuild.

So we now have a single 32 bit DLL which can work in any version from VS2002 to VS2019, and a 64 bit one which will load in VS2022 (and

[2022-08-16 18:14] matteo-prosperi commented on #97
A preview of Tool Window support is now documented in [toolWindow.md](https://github.com/microsoft/VSExtensibility/blob/main/docs/new-extensibility-model/extension-guides/toolWindow/toolWindow.md) and can be tested with Visual Studio 2022.4 Preview 1 or higher.

[2022-08-16 18:16] matteo-prosperi commented on #51
A preview of Tool Window support is now documented in [toolWindow.md](https://github.com/microsoft/VSExtensibility/blob/main/docs/new-extensibility-model/extension-guides/toolWindow/toolWindow.md) and can be tested with Visual Studio 2022.4 Preview 1 or higher.

[2022-09-14 11:29] garevaul opened #128 "In VS2022 Extension .Net6.0-Windows VSIX project why is the '.vsix' file Not getting created (and also some warnings)"
Hi,

In this .Net6.0-Windows VS2022 VSIX Extension Project which I have given the Link below, when I build the project, the '.vsix' file is not getting created. Only the project's '.dll' file is getting created.

https://1drv.ms/u/s!AjNAB3KpbqsEkW5cDsD_kQ4hBKsN?e=OnRqMd

PLEASE NOTE :: I have used Uprade-Assistant on my old VSIX project and got this project. Is that the correct way?

Also in addit

[2022-09-14 17:08] BertanAygun commented on #128
Hi @garevaul, can you clarify if you are using existing in-proc VSSDK or the new VisualStudio.Extensibility SDK that is in preview?

Visual Studio is a .Net framework application so VSSDK based extensions (ones using MEF or AsyncPackage based) are limited to netstandard 2.0 or net472 framework. Your project can not reference net6.0 runtime assemblies as they may be incompatible to be loaded in dev

[2022-09-16 12:36] garevaul commented on #128
Hi @BertanAygun sorry for the late reply.

I am using AsyncPackage based existing in-proc VSSDK.

But as i have VS2022 and updated till date, I am thinking of trying the preview VisualStudio.Extensibility SDK.

But I need a sample project of how to use the VisualStudio.Extensibility SDK. Is there a basic sample project anywhere, please provide me a link to it.

Regards
Bikramjeeth

[2022-09-16 15:49] BertanAygun commented on #128
The docs for VisualStudio.Extensibility SDK are in this repo: https://github.com/microsoft/VSExtensibility/blob/main/docs/index.md but as mentioned, the new SDK is in early preview stages so support feature set is limited.

Thanks,
Bertan

[2022-09-16 16:26] garevaul commented on #128
Ok Bertan

Thanx for the guidance. I might give it a try, just to see what it offers.

As it is, my usage is very basic, like going over projects, project items, inserting and deleting code lines, etc....

I think the preview SDK should be able to atleast manage all these.

What do you think ?

Regards
Bikramjeeth

On 16 Sept 2022, 21:19, at 21:19, Bertan Aygun ***@***.***> wrote:

***@***.***>

[2022-09-18 19:58] jefflomax commented on #67
I also need settings, can't proceed without them.

Please implement the settings as closely to Community.VisualStudio.Toolkit as possible.  A few attributes and it all works.  A few optional overrides if you need something unusual.

We're going to need significant further simplification - probably a new version of Community.VisualStudio.Toolkit to wrap this out of process stuff.  The current sampl

[2022-09-22 07:21] KannanKrish opened #130 "How to place command for file right click?"
I want to place the command for file context menu?

How can I get this behavior?

[2022-09-23 11:54] lsoft commented on #130
@KannanKrish are you interested in old model or OOP-model (the new one)? for old: example of command https://github.com/lsoft/DpdtInject/blob/master/DpdtInject.Extension.VsixShared/DpdtInstallCommand.cs

you need also update vsct https://github.com/lsoft/DpdtInject/blob/master/DpdtInject.Extension.2022/Dpdt.Extension.vsct

and working with icon. Also I recommend a series of view tutorials from Mad

[2022-09-23 11:56] lsoft opened #131 "Update existing new item template"
Hi there!

I need to update `New C# Class` item template in my VSIX (if user installed my VSIX into his/her VS, the template should be updated for him/her).

Is it possible? any approach or examples? I searched, but fails found something.

Thanks!

[2022-10-04 18:07] AliShahesmaeili commented on #97
@matteo-prosperi Thanks,
do you have any roadmap for supporting XAML Hot reload in ToolWindow ?

[2022-10-05 16:51] #97 closed

[2022-10-12 17:37] BertanAygun commented on #128
I am going to close this issue but please feel free to create new ones as you had a chance to test the new APIs. The scenarios you listed should be possible using the set of features available today.

If not, there is also the option of using the new API in-proc so that you can use other in-proc services for the feature areas not covered by new API yet.

[2022-10-12 17:37] #128 closed

[2022-10-12 17:39] BertanAygun commented on #131
Hi, I forwarded your question to the relevant team. As far as I know though, it is not possible to overwrite templates since the loading order is not guaranteed.

[2022-10-12 17:54] lsoft commented on #131
@BertanAygun  thanks!

@jekelly my goal is to add `sealed` modifier to the C# new class template (it is useful for the performance in some operations), so

is not a very good option for us, a backup option probably.

So I got the answer, and I am wondering - any chances that immutability of built-in templates will be revisited?

If not - that's OK, and I will close this issue.

Thanks, guys!

[2022-10-13 07:41] HeminChung opened #135 "New model extension features"
Hello, we want to develop a new VS extension use out-of-process model, but it seems the new model only has a little feature now.
So, are the following features available now? or do you have any plan about these?
1. Place a custom command button to the toolbar.
2. Add menu items to the editor context menu and solution explorer context menu.
3. Get the data connection string in the server explorer.

[2022-10-17 16:25] tinaschrepfer commented on #135
@HeminChung, thanks for the feedback!

1.	For Place a custom command button to the toolbar.
2.	Add menu items to the editor context menu and solution explorer context menu.

Please see the sample in this pull request [here](https://github.com/microsoft/VSExtensibility/pull/136) which shows you how to accomplish these tasks.  You’ll need to create an extension.json file, and reference in your proje

[2022-10-19 06:40] HeminChung commented on #135
Thank you @tinaschrepfer, it works now for the toolbar and the context menu.
And we look forward to your improvement and more document about this.
We are attempting to write an extension which will auto generates some C# codes, for example, auto generates classes according to the tables in the server explorer. We have independent "low-code" tools, just want to port some capabilities to VS Extensio

[2022-10-21 08:20] #131 closed

[2022-10-24 16:58] BertanAygun commented on #135
@HeminChung, you can add files and folder to a project using Project Query API. We are still in the process of documenting this API but there are couple references you can use. MarkdownLinter sample shows how a query can be performed at https://github.com/microsoft/VSExtensibility/blob/main/New_Extensibility_Model/Samples/MarkdownLinter/RunLinterOnSolutionCommand.cs and also you can use https://ma

[2022-10-24 20:14] A9G-Data-Droid opened #138 "What Microsoft.VisualStudio.TextTemplating to use in .net6.0 ?"
When making a T4 runtime template in VS2022 for a .net6 project, it will at first complain that it can't find `Microsoft.VisualStudio.TextTemplating`. The natural response would be to install the NuGet package. The latest package doesn't list being compatible with .net6. Is there a different package I should be using? Or does this package need to be updated to multi-target core and framework?

The

[2022-10-25 18:26] #138 closed

[2022-10-26 08:33] SongOfYouth opened #139 "How to extend the `git changes` page in vs2022?"
I want to clean up my team's commit message with `commit message` format by provide a form UI.As we know, we can extend it via `TeamExplorerPageIds.GitChanges` page, but it's not available for vs 2022.

[2022-10-27 08:08] HeminChung commented on #135
Thank you @BertanAygun! Your reply helped me.

[2022-10-28 10:36] MillerMark opened #140 "Screen coordinates of a control on a design surface"
How can I find the screen coordinates of a control on a design surface (given the control’s name)? I need solutions for every design surface - XAML, Winforms, Maui, etc.

[2022-10-28 22:21] mgoertz-msft commented on #140
@MillerMark For XAML we have a separate github repo for designer extensibility related questions: https://github.com/microsoft/xaml-designer-extensibility

I encourage you to ask your question(s) there. There won't be a solution for Maui though, since we don't even have a designer for Maui.

[2022-11-01 07:36] ndepend opened #142 "The value 'arm64' is invalid according to its datatype"
I attempt to compile our AnyCPU extension against in the `arm64` but get this error:

[code]

I read [the Target Visual Studio 2022 (ARM64) documentation](https://learn.microsoft.com/en-us/visualstudio/extensibility/arm64/target-arm64-visual-studio-extension?view=vs-2022) and don't figure what is wrong. The same error popups on both VS 2022 17.3.6 (latest) and 17.4.0 (preview 5) latest. Windows ve

[2022-11-01 11:10] ErikEJ commented on #142
This is probably not a good repo for this kind of issue.

I can build this without any problems:

[code]

(You dont need Pro and Enterprise)

Maybe your build is configured to treat schema validation issues as error?

[2022-11-01 12:37] ndepend commented on #142
Thanks @ErikEJ, we have no `<TreatWarningsAsErrors>false</TreatWarningsAsErrors>` in our csproj nor use the switch `warnaserror` in the command line. Anyway if it would be a warning in the first place this is somethig that must be fixed.

Could it be that somewhere locally I have an outdated version of `http://schemas.microsoft.com/developer/vsx-schema/2011` or  `http://schemas.microsoft.com/devel

[2022-11-01 13:11] ndepend commented on #142
Also on the same machine same VS 2022 Community17.3.6 (latest) I can compile the [MIDL](https://github.com/madskristensen/MIDL/tree/1759abb1bf61dc09270f923f9db0aa9faf25f704) repo but still get the same warning in  the `vsixmanifest` editor. This advocates that something in our project or solution transforms this warning into an error but we have no `<TreatWarningsAsErrors>false</TreatWarningsAsErr

[2022-11-01 13:19] ndepend commented on #142
Here it is with `arm64` sections commented:

[code]

[2022-11-02 11:09] ndepend commented on #142
Thanks @ErikEJ. So finally our extension compile in VS 2022 17.3.6 with `<ProductArchitecture>arm64</ProductArchitecture>`. Indeed some changes had to be done in the `.csproj`, mostly adding those versions

[code]

I still think that the warning mentioned above (about `arm64` tag) is something that should be fixed.

-----

Unfortunatly we're not yet there because our build process now fails with a

[2022-11-02 11:16] ErikEJ commented on #142
I think `<TargetFrameworkVersion>v4.7.2</TargetFrameworkVersion>` would be enough.

But it is really hard to help you when you are only sharing fragments of your .csproj.

[2022-11-02 11:51] snickler commented on #142
@ndepend - Hmmm. Try setting the TFM to 4.7.2 and see if that works.

I just tried from a brand new project in Visual Studio 2022 17.3.6, updating the NuGet packages, and building. It works both within VS and from Developer Command Prompt and simply running `msbuild /t:rebuild`

CSProj:

[code]

Extension Manifest:

[code]

![image](https://user-images.githubusercontent.com/4016293/199482802-a32d0

[2022-11-02 13:12] ndepend commented on #142
Thanks @snickler, actually on the same machine I can compile MIDL arm64, so again something in our csproj provokes the issue

[code]

See our csproj content below:

[code]

[2022-11-02 13:14] ErikEJ commented on #142
This looks old:

`<PackageReference Include="Community.VisualStudio.VSCT" Version="16.0.29.6" PrivateAssets="all" />`

[2022-11-03 05:29] ndepend commented on #142
@ErikEJ this must not be that since `Include="Community.VisualStudio.VSCT" Version="16.0.29.6"`  is in the MIDL .csproj that compiles fine on the same machine.

![image](https://user-images.githubusercontent.com/511445/199652080-f153da6e-cc8b-4094-83a5-130dc7c329ef.png)

Also I scanned with our tool NDepend assemblies in the directories `C:\Users\pat\.nuget\packages\microsoft.vssdk.buildtools\17.4

[2022-11-03 13:13] snickler commented on #142
Hmm @ndepend try adding ` <GeneratePkgDefFile>true</GeneratePkgDefFile>` in your properties to see if that works.

Also `<VSToolsPath Condition="'$(VSToolsPath)' == ''">$(MSBuildExtensionsPath32)\Microsoft\VisualStudio\v$(VisualStudioVersion)</VSToolsPath>
` is missing from the propertygroup. Those are two things I see that are in both the MIDL csproj and my sample

[2022-11-04 12:44] ndepend commented on #142
@ankitvarmait build with VS 17.4.0 Preview 5 made it, finally  `<ProductArchitecture>amd64</ProductArchitecture>`  went into our `.vsix`. Now we're asking to a beta tester to see if it works on an ARM64 machine (all our assemblies are compiled against `AllCPU`). When VS 17.4.0 will be released?
Thanks to everyone for the help

[2022-11-04 12:47] ErikEJ commented on #142
@ankitvarmait I am guessing next week, when .NET 7 is released

[2022-11-04 20:10] veronicagg commented on #139
Thanks for reaching out @wangrd . We have not added extensibility support for Git changes window for VS2022 yet. Do you think you could create a "suggest a feature" ticket in https://developercommunity.visualstudio.com/VisualStudio/suggest, this would help us with prioritization of the request. Thanks!

[2022-11-06 16:15] CartBlanche opened #143 "Will the new extensibility model work in VS2019 as well as VS2022"
As we currently support both VS2019 and VS 2022, via cps, will we be able to update to the new extensibility relatively easily? Will you provide a migration guide??

[2022-11-08 20:45] maiak commented on #142
Closing since it works with the newest version.

[2022-11-08 20:45] #142 closed

[2022-11-08 20:55] maiak commented on #48
Good news! Support for visualizers will be a part of the new extensibility model! We'll have more news in the next few months.

[2022-11-08 20:55] #48 closed

[2022-11-09 17:47] maiak commented on #90
Closing as this issue has been moved over to a feedback item.

[2022-11-09 17:47] #90 closed

[2022-11-09 17:49] maiak commented on #93
Closing as inactive. Please open a new issue if you need further assistance.

[2022-11-09 17:49] #93 closed

[2022-11-09 17:50] #94 closed

[2022-11-09 18:01] maiak commented on #130
In addition to what @lsoft shared for the current model, if you're working with the new extensibility model (VisualStudio.Extensibility), instructions for placing a command can be found [here](https://github.com/microsoft/VSExtensibility/blob/main/docs/new-extensibility-model/extension-guides/command/command.md#placing-a-command-in-the-ide). We currently support placing a command in the Tools menu

[2022-11-09 18:23] maiak commented on #140
Closing since this is an issue for the designer extensibility repo.

[2022-11-09 18:23] #140 closed

[2022-11-09 18:44] #70 closed

[2022-11-09 18:53] BertanAygun commented on #67
@jefflomax, @LaggAt user settable options is an area we are working right now so please continue to monitor future versions, we will provide more details as we can on the new settings API. In the mean time, we added APIs for extension state that will persist across sessions but not meant to be changed by user.

We realize output window APIs are not very usable right now and also got impacted by pr

[2022-11-09 19:07] #67 closed

[2022-11-09 19:08] #84 closed

[2022-11-09 19:21] matthew-j-clark commented on #95
Hello @sangwook96  @WardenGnaw I have validated that this is fixed in 17.3 and 17.4.  A note, that because the debugging extension is nested, it will not show up in the extension list. I was able to step through for a double check and ensure it is present on disk and registered with VS. Please let me know if you need more information!

[2022-11-09 20:41] #95 closed

[2022-11-09 20:59] maiak commented on #51
In addition to the Tool Window support that Matteo mentioned, we have more general information about using WPF for UI [here](https://github.com/microsoft/VSExtensibility/blob/main/docs/new-extensibility-model/inside-the-sdk/remote-ui.md) and [here](https://github.com/microsoft/VSExtensibility/blob/main/docs/new-extensibility-model/inside-the-sdk/advanced-remote-ui.md).

[2022-11-09 20:59] #51 closed

[2022-11-09 21:01] maiak commented on #55
We’ve added support for using the list of known icons when configuring commands. Our documentation for setting a command icon can be found [here](https://github.com/microsoft/VSExtensibility/blob/main/docs/new-extensibility-model/extension-guides/command/command.md#adding-an-icon-to-a-command).

[2022-11-09 21:01] #55 closed

[2022-11-09 21:02] maiak commented on #76
Closing as inactive. Please reopen a new issue if the comment above didn’t fully address your question.

[2022-11-09 21:02] #76 closed

[2022-11-09 21:04] maiak commented on #79
Please reopen a new issue if the comment above didn’t fully address the problem. We’re working on an easier solution for targeting multiple VS versions and we will update the documentation when our solution is available.

[2022-11-09 21:04] #79 closed

[2022-11-09 21:04] maiak commented on #98
Thanks for your feedback @annajayne. Unfortunately, as Bertan said we have no current plans to support C++ for the new extensibility API. We’ll announce any updates if anything changes.

[2022-11-09 21:04] #98 closed

[2022-11-10 16:33] MgSam commented on #48
Thrilled to hear this!

To answer @zspitz's query- Visualizers could allow using a more structural-typed based system rather than requiring hard-coded nominal types. Eg, A DataTable Visualizer maybe could be written in such a way as to apply to anything with Row and Column properties. In practice, this would mean instead of tying the Visualizer to a type, you could instead tie it to a Func<Type, b

[2022-11-10 18:27] zspitz commented on #48
@MgSam In other words, the visualizer base type could expose such an abstract method which takes a reflected type and returns true/false if the visualizer should apply.

[2022-11-16 22:08] musictopia2 opened #145 "Allow blazor webview control to be used for tool windows"
Would be nice if the blazor webview control could be used for the tool windows.
So if somebody wanted to write web ui and not deal much with xaml, that would be a possibility.

[2022-11-18 18:05] lsoft opened #146 "[Feature Request] Text adornments in OOP model."
I would like to ask about implementation plans of `Microsoft.VisualStudio.Text.Classification.MarkerFormatDefinition` and `Microsoft.VisualStudio.Text.Tagging.ITagger` (with custom adornments embedded in the text) in OOP model.

I'm using such adornments extensively in my Vsix and I would like to know how far such plans are. :)

Thanks!

[2022-11-18 18:23] CartBlanche commented on #143
@BertanAygun Thanks for the clarification. I may start playing with the new stuff soon.

[2022-11-19 11:48] mrlacey opened #147 "Support for QuickActions to accompany reported diagnostics?"
I have an existing extension that I'd like to port to this new model.

As part of that, I currently create error list entries and have accompanying quick actions to address the issues.
I see that the new model has the DiagnosticReporter that will help tag (& underline) issues and add them to the error list, but what about including support for adding quick action fixes to the things I report?

[2022-11-19 13:05] OkkeHendriks opened #148 "Tutorial and samples not working"
I tried to follow the [create your first extension](https://github.com/microsoft/VSExtensibility/blob/main/docs/new-extensibility-model/getting-started/create-your-first-extension.md) tutorial but cannot get it to work.

I installed the [extension](https://marketplace.visualstudio.com/items?itemName=vsext.gladstone) and created a completely fresh solution from the OOP template. I then update the c

[2022-11-19 13:26] OkkeHendriks commented on #148
I also tested with the [samples](https://github.com/microsoft/VSExtensibility/tree/main/New_Extensibility_Model/Samples) from this repo but I get the same deal.
I can see the commands but nothing happens when I click them.

[2022-11-19 15:00] OkkeHendriks commented on #148
Is it just the VS version?
What does `Visual Studio 2022.4 Preview 3` exactly refer to?

[2022-11-19 17:30] nigelhewitt commented on #148
Not just me then.
I've been trying since I first watched the 'Toolbox' video and even the unmodified template command never executes the function.
Disappointing.
Using most current community edition. (not preview or such)

[2022-11-19 17:41] nigelhewitt opened #149 "Command.IsChecked is implied in the documentation but Intellisense can't find it"
The documentation on the Command refers to IsChecked
ie:  "CanToggle - Indicates that the IsChecked..."
IsChecked is a natural property for Command but I can't find it.
Is it a 'not yet'?
If not this is a feature request.

[2022-11-23 00:39] RyanToth3 commented on #149
`IsChecked ` isn't a property on the base `Command ` class. We instead have that property on the abstract `ToggleCommand` class that extends the `Command` class. You can have your commands extend the `ToggleCommand` class to gain access to that functionality.

[2022-11-23 00:39] #149 closed

[2022-11-23 00:40] BertanAygun commented on #148
Hi, there was a missing update on the getting started documentation which I will be fixing. The samples are targeting Visual Studio 2022.5 Preview 1 now. Could you please try with that version and update the issue if the commands still do not work.

[2022-11-23 00:46] #143 closed

[2022-11-26 10:02] OkkeHendriks commented on #148
Hi, thanks for the effort.

First of all I did not notice that this was a work in progress and would only work with VS preview, my bad for not reading it properly! I guess this happend because I just stumbled on this repository and started reading with the assumption that it was new *but available*.

I am still excited about out-of-proc extensions however, do you dare give an estimate when this wo

[2022-11-26 10:02] #148 closed

[2022-11-28 09:54] arung2207 opened #151 "Create first extension documentation"
The Prerequisites on the [Creating your first out-of-process Visual Studio extension](https://github.com/microsoft/VSExtensibility/blob/main/docs/new-extensibility-model/getting-started/create-your-first-extension.md) page mention installing the _.Net desktop development_ workload but there is no mention of installing _Visual Studio extension development_ workload. This is a bit counter intuitive,

[2022-11-28 22:01] maiak commented on #151
Hi @arung2207, the documentation is correct. The _Visual Studio Extension Development_ workload refers to the existing, in-process SDK for creating extensions. The new VisualStudio.Extensibility SDK here in this repo is in preview and will eventually become that workload, but for now we ship the bits separately.

The _.NET Desktop Development_ workload is needed because VisualStudio.Extensibility

[2022-11-28 22:01] #151 closed

[2022-11-29 04:44] arung2207 commented on #151
Thanks for the quick response @maiak

The documentation for the new Extensibility model is incomplete. While there are examples which get one started but do not cover all the way through to see the extension working. I am facing an issue running the samples which I logged on stackoverflow [here](https://stackoverflow.com/questions/74601127/unable-to-run-vs-extensibility-samples-with-vs-2022). The

[2022-11-29 15:58] maiak commented on #151
Thanks @arung2207.

Both the documentation and the product itself are very much under active development, so we're working hard to fill gaps in documentation and add functionality. But we're very interested in keeping the documentation up-to-date and making sure you have what you need to get started. If you notice anything incorrect or missing, please file an issue for it and I'll make sure it's l

[2022-11-29 16:52] arung2207 commented on #151
1. Microsoft Visual Studio Community 2022 (64-bit) - 17.4.1

1. VisualStudio.Extensibility Project System - 17.5.20.40780

1. Documentation that would be helpful:

- Information related to testing the extension during development. Ensuring break points are hit
- Specifically some details about experimental instance of Visual Studio. I have been trying to create several commands and I noticed the c

[2022-11-30 06:37] lsoft opened #152 "What is `global undo capability without opening a files`?"
I read this topic https://devblogs.microsoft.com/visualstudio/visual-studio-2022-performance-enhancements-17-4/ and found the sentence `by avoiding opening modified files while preserving the global undo capabilities`.

As an extender I need EXACTLY this feature, so where I can read more about it? How can I use it in my Vsixes? etc etc

I don't know where to ask such questions, so close it if I mi